

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align : left;
    padding : 20px;
    margin : 00px 0 50px 0px;
    background-color : #95afc0;
}


#description{
    display : flex;
    justify-content: space-around;
    margin-bottom : 50px;

    height : 800px;
}


#mainImage{
    width : 400px;
    height : 500px;
}
#textBox{
    font-family: 'Roboto', sans-serif;
    font-size : 2em;
}
#munderlogo{
    width : 220px;
    height : 120px;
}

#productLine{
    opacity : 0;
    display : flex;
    justify-content: space-around;
    margin : 50px 50px;
}

#productLine.show{
    animation : show 600ms forwards;
}

@keyframes show{
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}

#item:hover{
    opacity : .6;

}

#navbar{

    text-align : right;
}

#showProduct {
    border : 0px;
    width : 200px;
    height : 100px;
    background-color : #f1f1f1;
    font-size : 1.5em;
}