

body{
    text-align: center;
}

header{
    text-align : left;
    padding : 20px;
    margin : 00px 0 50px 0px;
    background-color : #95afc0;
}

a{
    padding : 4px 10px 4px 10px;
    text-decoration-line: none;
    justify-content: space-around;
    background-color : #95afc0;
    font-family: 'Roboto', sans-serif;
    font-size : 1.6em;
    font: black;

}
a:hover{
    background-color : rgb(57, 143, 201);
}

#navbar{
    text-align : right;
}

#mainImage{
    width : 600px;
    height : 700px;
}

#mainImage.showDes{
    animation : showDescription 600ms forwards;
}


#description{
    display : flex;
    justify-content: space-around;
    margin : 50px 0 50px 0;
    height : 800px;

}
#textBox.showDes{
    animation : showDescription 600ms forwards;
}


@keyframes showDescription{
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }


}


#slogan{
    font-size-adjust: none;
    font-family: 'Roboto', sans-serif;
    font-size : 2em;
}
#textBox{   
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size : 1.5em;
    width : 900px;
    opacity : 0;
}

#munderlogo{
    width : 300px;
    height : 14  0px;
}

#productLine{
    opacity : 0;
    display : flex;
    justify-content: space-around;
    margin : 50px 50px;
}

#productLine.show{
    animation : show 600ms forwards;
}

@keyframes show{
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}

#item:hover{
    opacity : .4;
}



#showProductButton {
    border : 0px;
    width : 200px;
    height : 100px;
    background-color : #f1f1f1;
    font-size : 1.5em;
}

#productDetail{
    width : 300px;

}