

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align : left;
    padding : 20px;
    margin : 30px 0 50px 0px;
    background-color : #95afc0;
}

#description{
    display : flex;
    justify-content: space-around;
    margin-bottom : 50px;
    font-family: 'Roboto', sans-serif;
}
#munderlogo{
    width : 250px;
    height : 120px;
}

#productLine{
    opacity : 0;
    display : flex;
    justify-content: space-around;
    margin : 50px 50px;
}

#productLine.show{
    animation : show 600ms forwards;
}

@keyframes show{
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}

#navbar{
    text-align : right;
}

#showProduct {
    border : 0px;
    width : 200px;
    height : 100px;
    background-color : #f1f1f1;
    font-size : 1.5em;
}